#autocomplete-container {
    display: flex;
    align-items: start; /* Center horizontally */
    /* width: 300px; */
}



#autocomplete-results-container{
    width: 100%;
    margin-top: -10px;
    border-radius: 0px 0px 20px 20px; /* Round the corners */
    overflow: hidden; /* Hide the overflow */
}


#autocomplete-results-list{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: left; /* Center horizontally */
    justify-content:start; /* Center vertically */
    width: 100%;
    overflow-y: auto;
    max-height: 190px; /* Limit height of results */
    gap: 5px; /* Add space between elements */
    /* padding-top: 20px; */
    background-color: #d9d9d9;
    ;

    border: 1px solid #ccc; /* Add border around results */
    border-radius: 0px 0px 20px 20px; /* Round the corners */
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;

}

#autocomplete-results-list::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    border-radius: 10px; /* Rounded edges of scrollbar */

}
#autocomplete-results-list::-webkit-scrollbar-track {
    background: #f2f2f2; /* Track color */
    border-radius: 10px; /* Rounded edges of scrollbar */


}

#autocomplete-results-list::-webkit-scrollbar-thumb {
    background-color: #37a9ad; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges of scrollbar */
    border: 2px solid #f2f2f2; /* Space between scrollbar and track */
}


#search-bar{
    display: flex;
    margin-left: 30px;

    /* width: 100%; */
    /* position: relative; */
    flex-direction: column;
    

}

#search-button{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: 0;
    background-color: #37a9ad;
    margin-left: 7px;
    margin-top: -2px;
    /* margin-bottom: 10px; */
}

#search-input{
    /* width: 100%; */
    width: 300px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 0 5px;
    background-color: white;
    z-index: 10;
    position: relative;
}

