.App-header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);

    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App-logo {
    height: 5vmin;
    margin-top: 10px; /* Push down from the top */
    margin-left: 10px; /* Push right from the left */
    margin-right: auto; /* Push left from the right */
    margin-bottom: 10px; /* Push up from the bottom */
    
  }