.autocomplete-result{
display: flex;
align-items: center;
background-color: #d9d9d9;
width: 100%;
}

.autocomplete-result:hover {
    background-color: #f2f2f2;

}

.pic{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 100%;
    margin-left: 8px;
}

.title{
    font-size: 15px;
    font-weight: bold;
    color: #731f39;
    text-align: left; /* Align text to the left */
}

.subtitle{
    font-size: 12px;
    color: black;
    text-align: left; /* Align text to the left */
    font-weight: bold;

}

.result-description{
    display: flex;
    flex-direction: column;
    gap:5px;
}
